* {
  font-family: "Times New Roman", Times, serif;
  
}

body {
  background-color: rgb(250, 182, 182);
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

img{
  border: 5px solid rgb(202, 127, 139);
  box-shadow: 5px 5px 5px rgb(151, 151, 151);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: clamp(5px, 10vw, 10rem);
  margin: 20px;
  cursor: pointer;
}

.main-header {
  text-align: center;
  font-size: clamp(5px, 6.5vw, 10rem);
  margin: 5px;
}

.ask {
  position: relative;
  display: flex;
  flex: 0;
  flex-direction: column;
  align-items: center;
}

/* second tab
/* 
#second .no-btn {
  font-size: clamp(5px, 6.5vw, 10rem);
}

#second .yes-btn {
  font-size: clamp(5px, 12.5vw, 10rem);
} */

/* second tab */

/* #second .gif img {
  position: relative;
  height: auto; */
  /* width: 75%; */
  /* margin-left: auto;
  margin-right: auto;
} */

/* third tab */
/* 
#third .gif img {
  position: relative;
  height: auto;
  width: 150%;
  margin-left: auto;
  margin-right: auto;
} */

/* fourth tab */

/* #fourth .gif img {
  position: relative;
  height: auto;
  /* width: 150%; */
  /* margin-left: auto;
  margin-right: auto;
}  */

@media screen and (min-width: 1024px) {
  button {
    font-size: clamp(5px, 5vw, 10rem);
    margin: 10px;
    cursor: pointer;
  }

  .ask {
    position: relative;
    display: flex;
    flex: 0;
    flex-direction: column;
    align-items: center;
  }

  .main-header {
    text-align: center;
    font-size: clamp(5px, 2vw, 10rem);
  }

  /* second tab */
  /* #second .no-btn {
    font-size: clamp(5px, 2.5vw, 10rem);
  }

  #second .yes-btn {
    font-size: clamp(5px, 5vw, 10rem);
  } */

  #second .gif img {
    position: relative;
    height: auto;
    width: 75%;
  }

  /* third tab */
  /* #third .no-btn {
    font-size: clamp(5px, 1.5vw, 10rem);
  }

  #third .yes-btn {
    font-size: clamp(5px, 7.5vw, 10rem);
  } */

  #third .gif img {
    position: relative;
    height: auto;
    width: 75%;
  }

  /* fourth tab */
  /* #fourth .no-btn {
    font-size: clamp(5px, 0.5vw, 10rem);
  }

  #fourth .yes-btn {
    font-size: clamp(5px, 10vw, 10rem);
  } */

  #fourth .gif img{
    display: flex;
    width: 75%;
    justify-content: center;
  }
}